.card {
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.15);
    padding: 8px;
    background-color: white;
    display: block;
    align-items: center;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 5px;
}

.card-name {
    font-weight: bold;
    font-size: 38px;
    padding-left: 20px;
}

@media only screen and (max-width: 770px) {
    .card-name {
        font-size: 18px;
    }
}

@media only screen and (max-width: 450px){
    .card-header {
        margin-bottom: 0;
    }
    
    .card-name {
        font-size: 18px;
    }
}